body{
    padding:0;
    margin:0;
    overflow: hidden;
  } 
#vidsrc{
  position: absolute;
  top: 0px;
  z-index: 999;
  right: 0px;
  margin: 10px;
  background: rgba(0,0,0,.4);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  backdrop-filter: blur(19px);

}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%,-50%);

  -webkit-app-region: drag;
  transform: rotateY(180deg);
}